<title>LinkLink: Deep link anywhere</title>
<meta name="description" content="Deep link to any section of any webpage">
<meta name="keywords" content="deep link, joel kemp, link, linker, web link">
<meta name="author" content="Mr. Joel E. Kemp">