<html>
  <head>
    <title>LinkLink: Deep link anywhere</title>
    <meta name="description" content="Deep link to any section of any webpage">
    <meta name="keywords" content="deep link, joel kemp, link, linker, web link">
    <meta name="author" content="Mr. Joel E. Kemp">
    <link rel="stylesheet" href="stylesheets/index.css">
  </head>

  <body>
    <div class="content">
      <span class="app-name"><span class="first">Link</span><span class="last">Link</span></span>
      <span class="catch-phrase">Deep link to any section of any page on the web</span>
      <input class="enter-website" placeholder="Enter a website" value="www.bbc.com" autofocus></input>
    </div>

    <div class="credits">
      <span> Built by <a href="" target="_blank" rel="nofollow">@mrjoelkemp</a>
    </div>

    <script src="javascripts/vendor/jquery-2.1.1.min.js"></script>
    <script src="javascripts/index.js"></script>
  </body>
</html>