<html>
  <head>
    <% include header %>
    <link rel="stylesheet" href="stylesheets/index.css">
  </head>

  <body>
    <div class="content">
      <span class="app-name"><span class="first">Link</span><span class="last">Link</span></span>
      <span class="catch-phrase">Deep link to any section of any webpage</span>
      <input class="enter-website" placeholder="Enter a website" value="www.bbc.com" autofocus></input>
      <div class="error">
        <span>Sorry, that doesn't seem to be a valid website. Please try again.</span>
      </div>
    </div>

    <div class="credits">
      <span> Built by <a href="https://twitter.com/mrjoelkemp" target="_blank" rel="nofollow">@mrjoelkemp</a>
    </div>

    <script src="javascripts/index.js"></script>
  </body>
</html>