<html>
  <head>
    <% include header %>
    <link rel="stylesheet" href="stylesheets/page.css" />
  </head>

  <body>

    <div class="header">
      <span class="app-name">
        <span class="first">Link</span><span class="last">Link</span>
      </span>

      <span>:</span>

      <div class="instructions">
        <span> Click anywhere to create a link to that part of the page </span>
      </div>

      <div class="generated-link">
        <span>Here you go</span>
        <input></input>
      </div>
    </div>

    <div class="linklink-content">
      <%- content %>
    </div>

    <script>
      (function () {
        // For quick parsing and scroll to location
        window.LL = {
          url: "<%= url %>",
          top: parseInt("<%= top %>", 10)
        };

        if (window.LL.url && window.LL.top) {
          window.scrollTo(0, window.LL.top);
        }
      })();
    </script>
    <script src="javascripts/vendor/jquery-2.1.1.min.js"></script>
    <script src="javascripts/page.js"></script>

  <body>
</html>