$normal-size: 15px;

%base-section-styles {
  font-family: "Helvetica";
  font-size: 30px;
}

.app-name {
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
  .first {
    font-weight: bold;
    font-size: 35px;
  }

  .last {
    font-size: 20px;
  }
}

@mixin box-shadow($args) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  box-shadow: $args;
}

%base-input {
  outline-color: #D6D6D6;
  border-radius: 5px;
  padding: 5px;
  font-size: $normal-size;
}