@import "bourbon/bourbon";

$normal-size: 15px;

%base-section-styles {
  font-family: "Helvetica";
  font-size: 30px;
}

.app-name {
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
  .first {
    font-weight: bold;
    font-size: 35px;
  }

  .last {
    font-size: 20px;
  }
}

.app-name-small {
  @extend .app-name;

  $first: 25px;
  .first {
    font-size: $first;
  }
  .last {
    font-size: $normal-size;
  }
}

.app-name-baby {
  @extend .app-name;
  .first {
    font-size: 20px;
  }
  .last {
    font-size: 13px;
  }
}

@mixin box-shadow($args) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  box-shadow: $args;
}

%base-input {
  outline-color: #D6D6D6;
  border-radius: 5px;
  padding: 5px;
  font-size: $normal-size;
}

%highlight {
  @include animation (all 1.0s ease-in);
  background-color: rgba(255, 255, 130, 0.6) !important;
  border-radius: 6px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}