@import "_base";

.content {
  @extend %base-section-styles;
  margin: 0 auto;
  margin-top: 20%;
  text-align: center;

  .app-name {
    display: block;
  }

  .catch-phrase {
    display: block;
    font-size: 15px;
  }

  input {
    @extend %base-input;
    margin-top: 10px;
    min-width: 400px;
    text-align: center;
  }

  .error {
    display: none;
    padding: 5px;
    span {
      color: red;
    }
  }
}

.credits {
  margin-top: 40px;
  text-align: center;
}