.app-name a {
  text-decoration: none;
  color: black; }
  .app-name a:hover {
    text-decoration: none; }
.app-name .first {
  font-weight: bold;
  font-size: 35px; }
.app-name .last {
  font-size: 20px; }

.content input {
  outline-color: #D6D6D6;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px; }

.content {
  @extends %base-section-styles;
  margin: 0 auto;
  margin-top: 20%;
  text-align: center; }
  .content .app-name {
    display: block; }
  .content .catch-phrase {
    display: block;
    font-size: 15px; }
  .content input {
    margin-top: 10px;
    min-width: 400px;
    text-align: center; }
  .content .error {
    display: none;
    padding: 5px; }
    .content .error span {
      color: red; }

.credits {
  margin-top: 40px;
  text-align: center; }
