@import "_base";

.linklink-header {
  @extend %base-section-styles;
  position: fixed;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 10px;
  padding-top: 5px;
  width: 100%;
  display: none;
  top: 0;
  @include box-shadow(0px 1px 22px -6px #CCC);
  z-index: 100000;
  background: rgba(255, 255, 255, 0.95);

  span {
    font-size: $normal-size;
  }

  .instructions {
    display: inline-block;
    font-size: $normal-size;
  }

  .generated-link {
    display: none;
    input {
      @extend %base-input;
      margin-top: 10px;
      width: 500px;
    }

    span {
      font-size: $normal-size;
    }
  }

}

.linklink-credits {
  display: none;
  position: fixed;
  top: 30%;
  z-index: 1000000;
  padding: 5px;
  border: 1px solid black;
  border-left: 0;
  background: rgba(255, 255, 255, 0.85);
  font-size: 15px;
  $radius: 5px;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;

  .app-name-baby {
    position: relative;
    top: 1px;
  }
}