.linklink-header {
  font-family: "Helvetica";
  font-size: 30px; }

.app-name a, .app-name-small a, .app-name-baby a {
  text-decoration: none;
  color: black; }
  .app-name a:hover, .app-name-small a:hover, .app-name-baby a:hover {
    text-decoration: none; }
.app-name .first, .app-name-small .first, .app-name-baby .first {
  font-weight: bold;
  font-size: 35px; }
.app-name .last, .app-name-small .last, .app-name-baby .last {
  font-size: 20px; }

.app-name-small .first {
  font-size: 25px; }
.app-name-small .last {
  font-size: 15px; }

.app-name-baby .first {
  font-size: 20px; }
.app-name-baby .last {
  font-size: 13px; }

.linklink-header .generated-link input {
  outline-color: #D6D6D6;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px; }

.linklink-content .highlight-clicked-item {
  -webkit-animation: all 1s ease-in;
  -moz-animation: all 1s ease-in;
  animation: all 1s ease-in;
  background-color: rgba(255, 255, 130, 0.6) !important;
  border-radius: 6px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }

.linklink-header {
  position: fixed;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 10px;
  padding-top: 5px;
  width: 100%;
  display: none;
  top: 0;
  -webkit-box-shadow: 0px 1px 22px -6px #cccccc;
  -moz-box-shadow: 0px 1px 22px -6px #cccccc;
  box-shadow: 0px 1px 22px -6px #cccccc;
  z-index: 100000;
  background: rgba(255, 255, 255, 0.95); }
  .linklink-header span {
    font-size: 15px; }
  .linklink-header .instructions {
    display: inline-block;
    font-size: 15px; }
  .linklink-header .generated-link {
    display: none; }
    .linklink-header .generated-link input {
      margin-top: 10px;
      width: 500px; }
    .linklink-header .generated-link span {
      font-size: 15px; }
    .linklink-header .generated-link a {
      font-size: 13px;
      color: blue;
      text-decoration: underline; }

.linklink-credits {
  display: none;
  position: fixed;
  top: 30%;
  z-index: 1000000;
  padding: 5px;
  border: 1px solid black;
  border-left: 0;
  background: rgba(255, 255, 255, 0.85);
  font-size: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }
  .linklink-credits .app-name-baby {
    position: relative;
    top: 1px; }
