.linklink-header {
  font-family: "Helvetica";
  font-size: 30px; }

.app-name .first {
  font-weight: bold;
  font-size: 35px; }
.app-name .last {
  font-size: 20px; }

.linklink-header .generated-link input {
  outline-color: #D6D6D6;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px; }

.linklink-header {
  position: fixed;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 10px;
  padding-top: 5px;
  width: 100%;
  display: none;
  top: 0;
  -webkit-box-shadow: 0px 1px 22px -6px #cccccc;
  -moz-box-shadow: 0px 1px 22px -6px #cccccc;
  box-shadow: 0px 1px 22px -6px #cccccc;
  z-index: 100000;
  background: rgba(255, 255, 255, 0.95); }
  .linklink-header span {
    font-size: 15px; }
  .linklink-header .app-name .first {
    font-size: 25px; }
  .linklink-header .app-name .last {
    font-size: 15px; }
  .linklink-header .instructions {
    display: inline-block;
    font-size: 15px; }
  .linklink-header .generated-link {
    display: none; }
    .linklink-header .generated-link input {
      margin-top: 10px;
      width: 500px; }
    .linklink-header .generated-link span {
      font-size: 15px; }
